<h1>Welcome <%= current_user.email.capitalize %></h1>

<fieldset>
  <%= form_for @post do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.label :content %>
      <%= form.text_field :content %>
    </div>
    <div>
      <%= form.submit "Post" %>
    </div>
  <% end %>
</fieldset>

<ul>
  <% current_user.posts.each do |post| %>
    <li>
      <fieldset>
        <%= post.title %>
        <br>
        <%= post.content %>
      </fieldset>
    </li>
  <% end %>
</ul>
