<fieldset>

  <b><%= link_to post.title, post_path(post) %></b>
  <br>
  <%= post.content %>
  <br>
  <p>Category: <%= post.category.name %> Posted in: <%= post.location.name %></p>

  <% if post.user_id == current_user.id || current_user.is_admin %>
    <div>
      <%= button_to "Delete!", post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  <div>
    <%= button_to "Edit", edit_post_path(post), method: :get %>
  </div>

  <div>
    <%= image_tag post.url, width:"500" %>
    <p>posted by <%= post.user.email %></p>
  </div>
  <div>
    <% if current_user.has_spam(post) %>
      <%= button_to "UnSpam", post_spam_path(post), method: :delete %>
    <% else %>
      <%= button_to "Spam", post_spam_path(post) %>
    <% end %>
  </div>
</fieldset>
